body{
	border: 1px solid red;
	font-size: 16px;
	margin: 0px auto;
	max-width: 1700px;
	min-width: 1700px;
}
section article{
	vertical-align: top;
}
#seccion1 article{
	display: inline-block;
	width: 18%;
}
#seccion2 article{
	display: inline-block;
	width: 30%;
}